<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting id="enabledGlobal_toggle" type="bool" label="30001" default="false"/>
        <setting id="activeForMovies_toggle" type="bool" label="30002" default="false"/>
        <setting id="activeForTVshows_toggle" type="bool" label="30003" default="false"/>
    </category>
    <category label="30110">
        <setting id="enabledGroup01_toggle" type="bool" label="30001" default="false"/>
        <setting id="hostList10" type="text" label="30004" default="192.168.1.1:80,192.168.1.2:8080"/>
        <setting id="command10On" type="text" label="30005" default=""/>
        <setting id="command10Off" type="text" label="30006" default=""/>
    </category>
    <category label="30120">
        <setting id="enabledGroup02_toggle" type="bool" label="30001" default="false"/>
        <setting id="hostList20" type="text" label="30004" default="192.168.1.3:3128,192.168.1.4:1111"/>
        <setting id="command20On" type="text" label="30005" default=""/>
        <setting id="command20Off" type="text" label="30006" default=""/>
    </category>
</settings>